/* Reset des marges et des rembourrages */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    font-family: Arial, sans-serif;
    background-color: #efe7e5; /* Couleur de fond */
}

/* Conteneur principal */
.container {
    position: absolute;
    top: 120px; /* Ajuste la position verticale du conteneur */
    left: 50%; /* Centre le conteneur horizontalement */
    transform: translateX(-50%); /* Centre le conteneur horizontalement */
    padding: 20px;
    border: 1px solid #1801019c;
    border-radius: 5px;
    width: 1200px;
    background-color: rgb(254, 254, 254);
}

/* Titre */
.container h2 {
    margin-bottom: 20px; /* Espacement en bas du titre */
    color: #130202; /* Couleur du texte */
}

/* Tableau */
.container table {
    width: 100%; /* Largeur de la table à 100% */
    border-collapse: collapse; /* Fusion des bordures de la table */
}

/* En-tête de tableau */
.container th, .container td {
    padding: 10px; /* Espacement intérieur des cellules */
    text-align: left; /* Alignement du texte à gauche */
    border-bottom: 1px solid #0e0202; /* Bordure inférieure de chaque ligne */
}

/* Styles spécifiques pour l'en-tête */
.container th {
    background-color: #fffefe; /* Couleur de fond des cellules d'en-tête */
}

/* Styles pour les lignes au survol */
.container tr:hover {
    background-color: #faf2f2; /* Couleur de fond au survol des lignes */
}

/* Styles pour les champs de texte du formulaire */
.container form input[type="text"] {
    width: calc(100% - 20px); /* Largeur de 100% moins 20px pour les champs de texte du formulaire */
    padding: 5px; /* Espacement intérieur */
    margin-bottom: 10px; /* Espacement en bas du champ */
    border: 1px solid #ccc; /* Bordure de 1px solide */
    border-radius: 3px; /* Coins arrondis */
}

/* Styles pour les boutons du formulaire */
.container form input[type="submit"] {
    background-color: #743535; /* Couleur de fond du bouton */
    color: #f5f4f4; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 3px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Transition de couleur de fond */
    margin: 5px;
}

/* Styles au survol des boutons */
.container form input[type="submit"]:hover {
    background-color: #555; /* Couleur de fond au survol du bouton */
}
